  
.plus-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: scroll;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    top: 90%;
    left: 90%;
  }

  .edit-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    top: 20%;
    right: 20%;
  }

  
  .delete-button {
    background-color: rgb(206, 51, 51);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    bottom: 50%;
    left: 20%;
  }
