@-webkit-keyframes tiembla{
  0%  { -webkit-transform:rotateZ(-5deg); }
  50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
  100%{ -webkit-transform:rotateZ( 5deg); }
}

  .plus-button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 87%;
    border-radius: 5%;
    font-family: sans-serif;
  }



  .edit-button {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .edit-button:hover{
    background-color: rgb(18, 93, 168);
  }


  .show-button {
    background-color: rgb(66, 207, 153);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .show-button:hover{
    background-color: rgb(41, 139, 102);
  }

  .delete-button {
    background-color: rgb(206, 51, 51);
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
  }

  .delete-button:hover{
    background-color: rgb(167, 43, 43);
  }

  .back-button {
    background-color: rgb(226, 144, 37);
    border: none;
    color: white;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
  }

  .back-button:hover{
    background-color: rgb(158, 99, 22);
  }

  .save-button {
    background-color:  #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 50%;
  }

  .save-button:hover{
    background-color:  rgb(41, 139, 102);
  }
