body {
    font-family:sans-serif;
    background-size: cover;
}

.container {
    justify-content:center;
    left: 5%;
    position: relative;
    text-align:center;
  }

  .card {
    width:450px;
    margin-top: 50px;
    margin-left: 150px;
    height: auto;
    min-height:100%;
    background:#fff;
    border-radius:10px;
    transition:0.5s;
}

.card .box {
    position:absolute;
    top:55%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:auto;
}

.card h2 {
    font-size:20px;
    color:#262626;
    margin:20px 0;
}

.input{
    width: 55%;
    padding: 10px 15px;
    margin: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    
}

label
{
    display: block;
}

label span
{
    display: inline-block;
    text-align: right;
    width: 100px;
}
