body {
    font-family:sans-serif;
    background-size: cover;
}

.container {
    justify-content:center;
    align-items: center;
    display: flex;
    text-align:center;
    margin-top: 20px;
  }

  .card {
    width:450px;
    min-height:800px;
    background:#fff;
    border-radius:10px;
    transition:0.5s;
    text-align:center;
}

.card .box {
    position:absolute;
    top:55%;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:auto;
}

.card h2 {
    font-size:20px;
    color:#262626;
    margin:20px 0;
}

.input{
    width: 55%;
    padding: 10px 15px;
    margin: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    
}

.box p {
    color: grey;
}

label
{
    display: block;
}

label span
{
    display: inline-block;
    text-align: right;
    width: 80px;
    color: grey;
}
