body {
    font-family:sans-serif;
    background-size: cover;
}

.container {
    justify-content:center;
    align-items: center;
    display: flex;
    text-align:center;
    margin-top: 20px;
  }

  .card {
    width:435px;
    min-height:800px;
    background:#fff;
    border-radius:10px;
    transition:0.5s;
    text-align:center;
    margin-bottom: 20px;
}


.card .box {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    box-sizing:border-box;
}

.card h2 {
    font-size:20px;
    color:#262626;
    margin:20px 0;
}

.input{
    width: 55%;
    padding: 10px 15px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.edit-aviso-input {
    width: 215px;
    padding: 10px 15px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.input-year{
    width: 15%;
    padding: 10px 15px;
    margin: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input:read-only {
    color: grey;
  }

.box p {
    color: rgb(39, 36, 36);
}

label
{
    display: block;
}

label span
{
    display: inline-block;
    text-align: right;
    width: 100px;
    color: grey;
    margin-left: 20px;
}

span {
    margin:10px;
}

.observation-box {
    border-radius: 4px;
    width: 55%;
    padding: 10px 15px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.column1 {
    grid-row: 1 / 2;
    border-right: 1px solid grey;
}

.column2 {
    grid-row:   1 / 2;
}

